html{
    font-family: "helvetica neue", "Arial", sans-serif;
}

#menu{
    height: 100%;
    width: 200px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:aquamarine;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

#menu a{
    padding: 6px 8px 6px 16px;
    color: black;
    width: 100%;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

#menu a:hover{
    background-color: aqua;
}

#content {
  margin-left: 220px; /* Same as the width of the sidenav */
  margin-top: 10px;
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  width: 800px;
}